body{
    font-weight: 400;
    color: antiquewhite;
    }

    .container{
        background-color: #fafafa;
        margin: 100px;
        box-shadow: rgba(0, 0, 0, .1);
        display: grid;
        grid-template-columns: 50% 50%;
        width: 90%
}
    .container-others{
       background-color: #e6d0d0cf;
       display: flex;
       text-align: center;
       font-size: 18px;
       margin: auto;
       width: 400;
       border: 3px solid grey;
       padding: 10px;
       margin-top: 200px;
    }

    .container-left {
        background-color: rgba(0, 0, 0, .95);
        outline: 4px dashed #998100;
        outline-offset: -30px;
        text-align: center;
        padding: 180px 0 ;
    }

    .heading {
        font-size: 45px;
        text-transform:uppercase;
    }

    .container-form{
        padding: 20px 0;
        margin: 0 auto;
        color: #000;
    }
    .container-form-add{
        padding: 20px 0;
        margin:  auto;
        color: #000;
    }

    form{
        display:grid;
        grid-row-gap: 20px;
    }

    .form-field{
        display: flex;
        justify-content: space-between;
        font-size: 20px;
    }

    input{
        pad:10px 15px
     }

     select, input[type=date], input[type=text]{
        min-width:200px;
        min-height: 30px;
        border-width: 3px;
        border-color: rgba(50, 50, 50, 0.14);
    }

    .buttons{
        background-color: black;
        padding: 10px 20px;
        font-size: 18px;
        -webkit-border-radius: 100px;
        text-align: center;
    }