    body{
        background-color: #faf4e8;
        background-image: url('background.jpg');
    }

    .title {
         color: #bd9548;
         font-size: 25px;
    }

    .error {
        font-size: 28px;
        color: #c31f1f;
        text-align: center;
        margin: auto;
    }

    table{
         hover {background-color: black;}
         width: 85%
    }