table, th, td {
    border: 1px solid #887b4a;
}

table {
        background-color: rgba(227, 215, 215, 0.67);;
        margin: 80px;
        border-collapse: collapse;
        border: 1px solid #887b4a;
        text-align: center;
        width: 85%;
}

th {
    color: black;
    height: 60px;
    font-size: 21px;
}

td {
    padding: 10px;
    font-size: 16px;
    text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.plus-button {
	border: 3px solid lightgrey;
	background-color: #fff;
	font-size: 20px;
	height: 2em;
	width: 2em;
	border-radius: 99px;
	position: relative;
	transform: translate(20%,0%);
}

a {
    text-decoration: none;
    color: #bf0e0e;
}

.search-box{
    position: absolute;
    top: 50%
    left: 50%;
    transform: translate(0%,40%);
    background:#d9d9d9;
    height:40px;
    border-radius:40px;
    padding: 10px;
}

.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-btn{
   background: white;
}

.search-btn{
    color:#e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #c8bfbf;
    justify-content: center;
    align-items: center;
    display:flex;
    transition: 0.4s;
}

.search-txt{
    border:none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #4f4949;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}